<div class="d-flex h-100 align-items-center justify-content-center">
    <form>
        <div class="card" style="min-width: 300px;">
            <div class="card-header">
                Acesso ao Sistema
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="login-email-input">E-mail</label>
                    <input type="email" class="form-control" id="login-email-input" required>
                </div>
                <div class="form-group">
                    <label for="login-senha-input">Senha</label>
                    <input type="password" class="form-control" id="login-senha-input">
                </div>
            </div>
            <div class="card-footer text-right">
                <a href="#" class="btn btn-outline-second mx-3">Cadastrar</a>
                <button type="submit" class="btn btn-primary">Acessar</button>
            </div>
        </div>
    </form>
</div>